#widget-pull-to-refresh {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    height: auto;
}

#widget-pull-to-refresh .pull-to-refresh {
    opacity: .6;
    font-size: 20px;
    width: auto;
    height: auto;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 5px;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loading {
    display: inline-block;
    text-align: center;
    opacity: .4;
    margin: 12px 0 0 5px;
    display: none;
}
.widget-pull-to-refresh-loading .loading {
    display: block;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    border-radius: 50%;
    -webkit-animation: widget-pull-to-refresh-loading 0.4s infinite alternate;
    animation: widget-pull-to-refresh-loading 0.4s infinite alternate;
}


@-webkit-keyframes widget-pull-to-refresh-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        opacity: 1;
    }
}

@keyframes widget-pull-to-refresh-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        opacity: 1;
    }
}

.widget-pull-to-refresh-loading #content, .widget-pull-to-refresh-reset #content,
.widget-pull-to-refresh-loading #widget-pull-to-refresh, .widget-pull-to-refresh-reset #widget-pull-to-refresh {
    transition: all .25s ease;
}

.widget-pull-to-refresh-reset #content {
    -webkit-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}
