.ptr--ptr {
    pointer-events: none;
    font-size: 0.85em;
    font-weight: bold;
    top: 0;
    height: 0;
    transition: height 0.3s, min-height 0.3s;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    align-content: stretch;
}

.ptr--box {
    padding: 10px;
    flex-basis: 100%;
}

.ptr--pull {
    transition: none;
}

.ptr--text {
    margin-top: .33em;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
}

.ptr--icon {
    color: rgba(0, 0, 0, 0.6);
    transition: transform .3s;
    font-size: 20px;
}

.ptr--release .ptr--icon {
    transform: rotate(180deg);
}

#widget-pull-to-refresh {
    z-index: 10;
    position: absolute
}
