#ptr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    height: auto;
    visibility: hidden;
}

.show-loading {
    visibility: visible;
}

#ptr .pull-to-refresh {
    opacity: .6;
    font-size: 20px;
    width: auto;
    height: auto;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 5px;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loading {
    display: inline-block;
    text-align: center;
    opacity: .4;
    margin: 12px 0 0 5px;
    display: none;
}
.ptr-loading .loading {
    display: block;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    border-radius: 50%;
    -webkit-animation: ptr-loading 0.4s infinite alternate;
    animation: ptr-loading 0.4s infinite alternate;
}


@-webkit-keyframes ptr-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        opacity: 1;
    }
}

@keyframes ptr-loading {
    0% {
        -webkit-transform: translateY(0) scale(0.3);
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        opacity: 1;
    }
}

.ptr-loading #content, .ptr-reset #content,
.ptr-loading #ptr, .ptr-reset #ptr {
    transition: all .25s ease;
}

.ptr-reset #content {
    -webkit-transform: translate3d( 0, 0, 0 );
    transform: translate3d( 0, 0, 0 );
}

.ptr-loading #content {
    -webkit-transform: translate3d( 0, 50px, 0 );
    transform: translate3d( 0, 50px, 0 );
}
